.main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 0 20px;}
    

/* ...............universal........... */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Inter",sans-serif;
}



/* .............coverpic............. */
.cover-pic {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.basic-info{
        max-width: 680px;
    width: 100%;
    margin: 0px auto;
   }



.name{
     display:flex;
     align-items:center;
    justify-content: center;
    flex-direction:column;
   }


img {
    border-style: none;
}


.image-wrapper{
    
    width: 70px;
    height: 70px;
    margin-top: -32px;
    display:flex;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid white;
    background-color: black;
   }

   .author-social{
   align-items: center;
    display: flex;

   }

   .author-name-link{
    margin-top: 20px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.8px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: opacity 0.3s, color 0.3s;
}
   

.author-bio{
font-size: 18px;

line-height:25.2px ;
font-weight: 500;
letter-spacing:-0.36px;
color:#606060;
width:100%;
max-width: 290px;
text-align: center;
transition: color .3s 
ease;
}




 
.author-meta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
   
   
   }


/* box */

.author-box{
display: flex;
 gap: 16px;
align-items: center;
justify-content: center;
flex-wrap: wrap;


}






.available{
    background-color: #EBFFE2;
    color: #000000;
    border: 1px solid #d0ebc5;
    border-radius: 100px;
    width: 146.042px;
    height: 32.7936px;
   
    font-family: "inter", sans-serif;
    font-size:14px;
    font-weight:500;
    line-height: 19.6px;
    letter-spacing:-0.28px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.available::before {
  display: block;
    content: "";
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:green;
    transition: background-color 0.3s; 
}



.location{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    
    border-radius:100px;
    border: 1px solid gray;
    font-size: 14px;
    font-weight:500;
    line-height:19.6px;
    letter-spacing: -0.28px;
    padding: 0px 12px;
    height: 29px;
    width:149px;
}


.location::before {
     content: "";
    background: url(./Images/location-icon.png) center center / contain no-repeat;
    display: block;
    width: 15px;
    height: 22px;
}


/* ...........social link .................*/




.author-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 1.5rem;
}

.social{
display: flex;
gap: 10px;

}
.social-link {
  color: grey;
  transition: color 0.3s ease, transform 0.2s ease;
}

.social-link:hover {
  color:#000000;
  transform: color 0.3 ease;
}


/* ...........social link .................*/




.buttons{
    display:flex;
      align-items: center;    
    flex-wrap: wrap;
    gap: 8px;
    
}



.contact-button{

   align-items: center;
    color: #FFFFFF;
    background-color: #3AA70B;
    display: flex;
    justify-content: center;
  cursor: pointer;
   gap:10px;
    font-size: 16px;
    font-weight:600;
    line-height: 22.4px;
    letter-spacing: -0.32px;
    height:48px;
    width: 176px;
    padding: 6px;
    border-radius: 8px;
    border: none;
   
}


.book-call{
display: flex;
justify-content: center;
gap: 8px;
padding: 13px 32px;
font-size: 16px;
line-height:22.4px;
font-weight: 600;
letter-spacing:-0.32px;
background-color: #EFEFEF;
color:#000000;
width: 172px;
height: 48px;
border-radius: 8px;
text-decoration: none;
cursor: pointer;
 
}





.book-call:hover {
  transition: 0.3s ease; 
  opacity: .8
   
}
   

.contact-button:hover:hover{
  transition:  0.3s ease; 
  opacity: .8

}








/*....... current-projects section............ */


.current-projects {
 
    max-width: 680px;
    width: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 0 auto;
    
}


.section-title {
  color: #3AA70B;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  font-size:12px;
  line-height: 16.8px;
  height: 17px;
  display: flex;
  align-items: center;
  transition: color .3s 
ease;

}






.projects {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}


.card {
  position: relative;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  min-height: 288px;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction:column;
}


a {
   
    transition: color .3s ease;
    cursor: pointer;
    display: inline;}


.card-media {
  position: absolute;
  filter: brightness(0.6);
  background-size: cover;
  content: "";
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -5;


}


.card:nth-child(1) .card-media {
  background-image: url("./Images/1-2.webp");
}
.card:nth-child(2) .card-media {
  background-image: url("./Images/2-1.webp");
}
.card:nth-child(3) .card-media {
  background-image: url("./Images/Bald\ Beard\ Glasses\ Style.jpg");
}


.card-overlay {
  position: relative; 
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
 
}


.project-card-title {
  margin: 0;
  font-size: 1.05rem;
  font-weight: 700;
}
.project-card-link {
  display: flex;
  align-items: center;
  gap: .5rem;
  opacity: .95;
  font-size: 0.9rem;
}
.project-card-link-text { font-size: 0.85rem; }
.project-card-link-icon { font-size: 0.9rem; }


.project-card-description {
  margin: 0;
  font-size: 0.8rem;
  opacity: 0.7;
}


.card:hover .card-media { transform: scale(1.02); transition: transform .45s ease; }



.projects:hover .project-card-link-text {
  text-decoration: underline;
}
/*.......End  current-projects section............ */

section{
  max-width: 680px;
  width: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin: 0 auto;
}

a{
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.section-title-link{
    color:#3AA70B;
    display: flex;
    align-items: center;
    gap: 9px;
    transition: color .3s 
ease;
}

.section-title-text {
    line-height: 1;
}

.post-section-wrapper{
    padding: 24px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: border-color .3s ease;
}
.post-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}


.post-card+.post-card{
   padding-top: 16px;
    border-top: 1px solid #e5e5e5;
}



.post-card-content{
    display: flex;
    flex-direction: column;
     gap: 4px;
  }

  .post-card-date{
    font-size: 12px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: -0.24px;
    color: #606060;
    transition: color .3s ease;
  }

  .post-card-heading{
    display: flex;
    align-items: flex-start;
    gap: 4px;
    height: fit-content;
    color:#000000 ;
  }
.post-card-title-link{
    color:#000000 ;
    font-size: 18px;
    font-weight: 500;
    line-height:25.2ppx;
    letter-spacing:-.36px;
    display: inline;
    padding-bottom: 3px;
  }

.post-card-tag{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}


.post-tag-link{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color:#606060 ;
  padding: 6px 12px;
  background-color:#efefef;
  font-size: 12px;
  line-height: 16.8px;
  font-weight: 500;
  letter-spacing: -0.24px;
}

.post-card-link{
  display: flex;
  align-items: center;
  gap: 9px;
  height: 32px;
  padding-left: 40px;
  padding-right: 8px;
    
}

.post-card-link-text{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.28px;
    color: #606060;
    line-height: 1;

}


.post-card-link-icons{
  width: 16px;
  height: 11px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}


.post-card-link-icons svg:first-of-type{
   position: absolute;
   left: 0px;
   color: #606060;
}

.post-card-link-icons svg:last-of-type {
position: absolute;
left: -18px;
color: #606060;}


.post-card-link-icons svg
 {
  flex-shrink: 0;
  transition: left .3s 
ease;
color: black;
 } 


 .post-tag-icons-wrapper{
    display: flex;
    align-items: center;
     gap: 4px;
 
 }


.post-tag-icon {
width: 24px;
height: 24px;
border: 1px solid #cfeac4;
border-radius: 50%;
position: relative;
z-index: 10;
}

.post-tag-icon svg{
  margin: 6px ;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 8px;
    border-radius:8px;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 600;
    line-height:22.4px;
    letter-spacing:-.32px;
    width: fit-content;
    padding: 13px 30px;
    position: relative;
    color: #000000;
    
     transition: opacity .3s ease, color .3s ease;
}

.btn:hover{
  opacity:.8;

}




.subscribe-form{
    padding: 24px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.subscribe-form-title {
    max-width: 450px;
    width: 100%;
    font-family:"Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px ;
    letter-spacing: -.4px;
  }


  .subscribe-form-list {
    max-width: 450px;
    width: 100%;
}


.subscribe-form-list-item {
    color: #606060;
    font-size: 14px;
    font-weight:500;
    line-height: 19.6px ;
    letter-spacing:-0.28px;
    padding-left: 12px;
    position: relative;
    transition: color .3s 
ease;
}

.subscribe-form-list-item+.subscribe-form-list-item {
    margin-top: 8px;
}


ul, ol {
    padding: 0;
    list-style: none;
}



.subscribe-form-list-item::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #3AA70B;
    transition: background-color .3s ease;
    position: absolute;
    left: 0;
    top: 50%;
    
}


.subscribe-form-input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 566px;
    width: 100%;
}


.subscribe-form-input {
    padding: 14px 20px;
    width: 100%;
    background-color: #efefef;
    font-weight: 500;
    font-size:14px;
    line-height: 19.6px;
    letter-spacing: -.28px;
    color: #000000;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    transition: background-color .3s 
    ease, border-color .3s ease;
}

.btn-submit{
      align-items: center;
    color: #ffffff;
    background-color: #3AA70B;
    transition: background-color .3s ease;
border: none;

}

.subscribe-form-terms {
    font-size: 12px;
    color:#606060 ;
    transition: color .3s ease;
}

.subscribe-form-terms a {
    color: #606060 ;
    display: inline;
    background-position: left 85%;
    background-size: 100% 5%;
    background-image: linear-gradient(to right, var(--secondary-color-text) 0%, var(--secondary-color-text) 100%);
    background-repeat: no-repeat;
    padding-bottom: 2px;
    transition: background-size .3s ease-in-out;
    text-decoration: underline;
}